@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
@import url('//db.onlinewebfonts.com/c/5ed8da50826369dfd20fd9e532593c99?family=ToyotaType-Regular');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size:14px
}




